@CHARSET "UTF-8";
/* TAG STYLE */
footer {width: 100%; margin-top:-1.9em; height:1.9em; }  
header {width: 100%;height: 5%;position: static;}
a{cursor:pointer;}
.cursor{cursor:pointer;}
/* POSITION */
.float_left{float: left;}
.text_left{text-align: left}
.text_center{text-align: center}
#cancel_form {margin: 5% 20% 10% 20%;}
.red{color: red;}
.formbox2{padding:20px;border:0px solid #999999;margin:0 auto;display:block}
